@epoint-mrc:registry = http://192.168.0.99:8081/nexus/repository/npmpublic/
@a-epoint-mrc:registry = http://192.168.0.99:8081/nexus/repository/npmpublic/
auto-install-peers = true
strict-peer-dependencies = false
//192.168.0.99:8081/nexus/repository/npmpublic/:_authToken=YOUR_NPM_TOKEN_HERE