.field-title {
    position: relative;
    padding: 10px 16px 10px 30px;
    font-size: 20px;
    line-height: 30px;

    &::after {
        position: absolute;
        top: 17px;
        left: 16px;
        width: 4px;
        height: 16px;
        content: '';
        background: #2e6be5;
    }
}
.color-blue {
    color: #2e6be5;
}
//公用标题
.login-title {
    padding: 22px 24px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #8a8f99;

    .title {
        font-size: 24px;
        font-weight: bold;
        color: #000;
        line-height: 36px;
    }
}