@epoint-mrc:registry = http://192.168.0.99:8081/nexus/repository/npmpublic/
@epframe:registry = http://192.168.0.99:8081/nexus/repository/npmpublic/
@epoint-fe:registry = http://192.168.0.99:8081/nexus/repository/npmpublic/
@epoint-mfe:registry = http://192.168.0.99:8081/nexus/repository/npmpublic/
auto-install-peers = true
strict-peer-dependencies = false
//192.168.0.99:8081/nexus/repository/npmpublic/:_authToken=YOUR_NPM_TOKEN_HERE
# shamefully-hoist = true
public-hoist-pattern[]=@vue/*