.container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    background-color: #f5f6f7;

    &::-webkit-scrollbar {
        width: 0 !important;
    }

    .role-content {
        padding: 60px 24px 46px;
        .login-title {
            margin-bottom: 47px;

            .title {
                font-weight: 700;
                font-size: 24px;
                line-height: 36px;
                /* identical to box height */
                letter-spacing: -0.3px;
                /* 主要文本 */
                color: #2e3033;
            }
            .sub-title {
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;
                /* identical to box height */
                letter-spacing: -0.3px;
                /* 次要文本 */
                color: #8a8f99;
            }
        }

        .title-items {
            position: absolute;
            z-index: 1;
            top: -10px;
        }
        .comment-bubble {
            position: relative;
            width: 74px;
            height: 24px;
            background: #b8ceff;

            &:after {
                content: "";
                width: 0;
                height: 0;
                left: 100%;
                right: 0;
                position: absolute;
                width: 0;
                height: 0;
                border-bottom: 24.25px solid #b8ceff;
                border-right: 9px solid transparent;
            }
        }

        .comment-bubble2 {
            display: inline-block;
            position: relative;
            width: 72px;
            height: 24px;
            background: #2e6be5;
            font-weight: 400;
            font-size: 13px;
            line-height: 24px;
            /* identical to box height, or 185% */
            letter-spacing: -0.3px;
            text-align: center;
            color: #ffffff;

            &:after {
                z-index: 1;
                content: "";
                width: 0;
                height: 0;
                top: 0.25px;
                left: 100%;
                right: 0;
                position: absolute;
                width: 0;
                height: 0;
                border-bottom: 23.75px solid #2e6be5;
                border-right: 9px solid transparent;
            }
        }

        // 个人
        .personal {
            position: relative;
            & > .main-ul-items {
                & > li {
                    &:not(:last-child) {
                        &::after {
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            content: "";
                            border: 0.5px solid #dde0e4;
                        }
                    }
                    h4 {
                        font-weight: 500;
                        font-size: 17px;
                        line-height: 25px;
                        letter-spacing: -0.3px;
                        /* 主要文本 */
                        color: #2e3033;
                    }

                    h5 {
                        margin-top: 2px;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 24px;
                        /* identical to box height, or 171% */
                        letter-spacing: -0.3px;
                        /* 次要文本 */
                        color: #8a8f99;
                    }
                }
            }
        }

        // 企业
        .enterprise {
            position: relative;

            & > .main-ul-items {
                & > li {
                    padding-bottom: 17px;
                    &:not(:last-child) {
                        &::after {
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            content: "";
                            border: 0.5px solid #dde0e4;
                        }
                    }

                    h4 {
                        font-weight: 500;
                        font-size: 17px;
                        line-height: 25px;
                        letter-spacing: -0.3px;
                        /* 主要文本 */
                        color: #2e3033;
                    }

                    h5 {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 24px;
                        /* identical to box height, or 171% */
                        letter-spacing: -0.3px;
                        /* 次要文本 */
                        color: #8a8f99;
                    }
                }
            }
        }

        .main-ul-items {
            margin-bottom: 38px;
            border-radius: 2px;

            & > li {
                position: relative;
                padding: 22px 20px 15px 24px;
                background: #fff;

                &:first-child {
                    border-top-left-radius: 2px;
                    border-top-right-radius: 2px;
                }
                &:last-child {
                    border-bottom-right-radius: 2px;
                    border-bottom-left-radius: 2px;
                }

                .subtitle-items {
                    margin:  14.5px 0 9px;
                }

                .left-items{
                    width: calc(100% - 70px);
                }
                .li-title {
                    padding-right: 15px;
                    word-break: break-all;
                    text-align: justify;
                
                }
                .li-subtitle {
                    @extend .li-title;
                    padding-top: 2px;
                }

                .current-role{
                    padding-right: 10px;
                    font-size: 13px;
                    color: #2e6be5;
                }
            }

            // 向右小箭头
            .icon-right {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-between;
                &::after {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    width: 6px;
                    height: 6px;
                    content: "";
                    border-top: 2px solid #b8becc;
                    border-right: 2px solid #b8becc;
                    transform: translateY(-50%) rotate(45deg);
                }
            }
        }
    }
}
